
*{margin: 0px;
  padding: 0px;}


  #container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: orange;
    height: 45px;
    width:100%;
    margin: 0px;
    text-align:left;
    line-height: 45px;
    font-size: 25px;
}
nav{
    background-color:  orange;
    height: 50px;
    margin:0px auto;
}
nav ul li{
       float: right;
    list-style: none;
    margin: 20px;
    height: 20 px;
}

.clearfix{
    clear: both;
}
#content{
    float: left;
    width: 80%;
}

.article1 h2{
    float: right;
    width: 50%;
    text-align: center;
}